.index-heading{
    font-size: 6rem !important;
}

#banner{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../../../assets/images/index-banner.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#servicesCommissions{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/index-commissions.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#serviceCardArtForSale{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/index-art-for-sale.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#servicesWorkshops{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/images/index-workshops.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}