<section class="bg-light" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center d-flex flex-column" style="height: 100vh;">
                    <div class="my-auto text-white">
                        <h1 class="display-1">David Johnson Art</h1>
                        <div class="heading-bar bg-white mx-auto mb-3" style="width: 120px;"></div>
                        <p class="lead mx-auto" style="max-width: 680px;">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do
                            eiusmod tempor. Dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 text-center mb-md-0 mb-5">
                <div class="rounded-circle bg-light text-primary mx-auto mb-3 d-flex justify-content-center align-items-center"
                    style="height: 120px; width: 120px;">
                    <i class="fa-solid fa-paintbrush" style="font-size: 42px;"></i>
                </div>
                <h3>Heading</h3>
                <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod.</p>
            </div>
            <div class="col-md-4 text-center mb-md-0 mb-5">
                <div class="rounded-circle bg-light text-primary mx-auto mb-3 d-flex justify-content-center align-items-center"
                    style="height: 120px; width: 120px;">
                    <i class="fa-solid fa-paintbrush" style="font-size: 42px;"></i>
                </div>
                <h3>Heading</h3>
                <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod.</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="rounded-circle bg-light text-primary mx-auto mb-3 d-flex justify-content-center align-items-center"
                    style="height: 120px; width: 120px;">
                    <i class="fa-solid fa-paintbrush" style="font-size: 42px;"></i>
                </div>
                <h3>Heading</h3>
                <p class="mb-0 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod.</p>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0 mt-md-0 mt-4">
                <img src="../../../assets/images/placeholder.png" alt="david-johnson-and-belinda-johnson"
                    class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>A few words about me</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris. Tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris.</p>
                <a class="btn btn-primary me-2 mb-md-0 mb-4">Learn More</a>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2>My Artwork</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris. Minim veniam, quis nostrud exercitation
                    ullamco laboris.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <a class="btn btn-outline-primary me-2">View Gallery</a>
                    <a class="btn btn-primary">View Art for Sale</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-6 mb-4">
                        <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 mb-4">
                        <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 mb-4">
                        <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-6 mb-4">
                        <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 class="lead text-muted">Commissions</h2>
                <h3 class="h1 mb-4">Interested in a personalized painting? Commission me to design and paint that
                    special art piece just for you.</h3>
                <a class="btn btn-primary mb-md-0">Get in touch</a>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2>Art Workshops</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris. Minim veniam, quis nostrud exercitation
                    ullamco laboris.</p>
                <a class="btn btn-primary mb-md-0 mb-4">View Workshops</a>
            </div>
        </div>
    </div>
</section>