.index-heading{
    font-size: 6rem !important;
}

#banner{
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/index_banner.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
