<section class="mb-5 bg-light" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center d-flex flex-column" style="height: 100vh;">
                    <div class="my-auto text-white">
                        <h1 class="display-1">David Johnson Art</h1>
                        <div class="heading-bar bg-white mx-auto mb-3" style="width: 120px;"></div>
                        <p class="lead mx-auto" style="max-width: 680px;">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do
                            eiusmod tempor. Dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mb-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4 text-center mb-md-0 mb-5">
                <div class="rounded-circle bg-primary-faded mx-auto mb-3 d-flex justify-content-center align-items-center" style="height: 120px; width: 120px;">
                    <i class="fa-solid fa-paintbrush" style="font-size: 42px;"></i>
                </div>
                <h3>Heading</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="col-md-4 text-center mb-md-0 mb-5">
                <div class="rounded-circle bg-primary-faded mx-auto mb-3 d-flex justify-content-center align-items-center" style="height: 120px; width: 120px;">
                    <i class="fa-solid fa-paintbrush" style="font-size: 42px;"></i>
                </div>
                <h3>Heading</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="rounded-circle bg-primary-faded mx-auto mb-3 d-flex justify-content-center align-items-center" style="height: 120px; width: 120px;">
                    <i class="fa-solid fa-paintbrush" style="font-size: 42px;"></i>
                </div>
                <h3>Heading</h3>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam</p>
            </div>
        </div>
    </div>
</section>
<section class="mb-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 mb-4 mb-md-0 mt-md-0 mt-4">
                <img src="../../../assets/images/index-about.jpg" alt="david-johnson-and-belinda-johnson" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h2>A few words about me</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor.</p>
                <div class="d-flex mb-md-0 mb-4">
                    <a class="btn btn-primary me-2">Learn More</a>
                    <a class="btn btn-outline-primary">View Portfolio</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pb-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 mb-4">
                <h2 class="text-center mb-3">Services & Artwork</h2>
                <div class="heading-bar bg-primary mx-auto mb-3" style="width: 120px;"></div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
                <div class="bg-light p-5 rounded text-white d-flex flex-column box-shadow" id="servicesCommissions">
                    <div class="my-auto">
                        <h3>Art for Sale</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation.</p>
                        <a class="btn btn-primary">View Art for Sale</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-md-0 mb-4">
                <div class="bg-light p-5 rounded text-white d-flex flex-column box-shadow" id="serviceCardArtForSale">
                    <div class="my-auto">
                        <h3>Commissions</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation.</p>
                        <a class="btn btn-primary">View Commissions</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-light p-5 rounded text-white d-flex flex-column box-shadow" id="servicesWorkshops">
                    <div class="my-auto">
                        <h3>Workshops</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation.</p>
                        <a class="btn btn-primary">View Workshops</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>