<div class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid mb-1">
                    <span class="lead mt-1">Painting Name</span>
                    <b>R1,000.00</b>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid mb-1">
                    <span class="lead mt-1">Painting Name</span>
                    <b>R1,000.00</b>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <img src="../../../assets/images/placeholder.png" alt="" class="img-fluid mb-1">
                    <span class="lead mt-1">Painting Name</span>
                    <b>R1,000.00</b>
                </div>
            </div>
        </div>
    </div>
</div>