@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif !important;
}

.display-1, .display-2, .display-3, .display-4{
    font-family: 'Abril Fatface', cursive  !important;
}

h1,h2,h3,h4,h5, .navbar-brand{
    font-family: 'Lora', serif !important;
}

//General
$primary: #a1683a;

$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

.bg-primary-faded{
    color: $primary !important;
    background-color: rgba($primary, 0.1) !important;
}

.box-shadow{
    box-shadow: $box-shadow;
}

//Buttons
.btn-link{
    text-decoration: none !important;
}

.btn-link:hover{
    text-decoration: underline !important;
}

.btn-circle{
    border-radius: 50% !important;
    padding: 8px !important;
}

.btn-circle-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

//Typography

.heading-bar{
    height: 2px;
}

@import "../node_modules/bootstrap/scss/bootstrap";
